html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map,
#pano {
  float: left;
  height: 100%;
  width: 100%;
}

.comments {
  padding: 0.5%;
}

.map-container {
  height: 100%;
  margin: 25%;
  width: 100%;
}

.background-block {
  background-color: #e897c3;
  margin-top: -34px;
  padding-bottom: 400px;
  width: 100%;
}

.logo {
  left: 15px;
  position: absolute;
  top: 105px;
}

.icon {
  margin-top: 15%;
}

.bitmoji-headshot {
  display: block;
  margin: 50px auto;
}

.real-headshot {
  margin-left: 40%;
  max-height: 50%;
  max-width: 50%;
}

h1 {
  font: normal normal 700 3vw/5.4vw "Rockwell Extra Bold", "Rockwell Bold",
    monospace;
  margin-top: 115px;
  white-space: nowrap;
}

h2 {
  color: white;
  font: normal normal 700 2.3vw/4.4px "Rockwell Extra Bold", "Rockwell Bold";
  white-space: nowrap;
}

h3 {
  font: normal normal 100 1.6vw/2px Rockwell, "Courier Bold", Courier, Georgia,
    Times, "Times New Roman", serif;
  white-space: nowrap;
}

h4 {
  color: black;
  font: normal normal 100 25px/21.4px Rockwell, "Courier Bold", Courier, Georgia,
    Times, "Times New Roman", serif;
  margin-top: 30px;
  white-space: nowrap;
}

h5 {
  font: normal normal 700 40px/42px "Rockwell Extra Bold", "Rockwell Bold",
    monospace;
  white-space: nowrap;
}

.white-text {
  color: white;
  font: normal normal 400 1.3vw/1.5vw "Rockwell Extra Bold", "Rockwell Bold",
    monospace;
}

.overview-text {
  color: gray;
  font: normal normal 400 15px/21px "Rockwell Extra Bold", "Rockwell Bold",
    monospace;
}

.field-text {
  color: #cf69a0;
  font: normal normal 400 17px/23px "Rockwell Extra Bold", "Rockwell Bold",
    monospace;
}

.marker {
  margin: -1% 0%;
}

.aboutme-block {
  padding: 5% 10% 0% 10%;
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.text-center {
  display: block;
  padding: 0px 10% 9% 10%;
  text-align: center;
}

.two-column-uniform {
  float: left;
  width: 50%;
}

.five-column {
  float: left;
  padding-top: 3%;
  width: 20%;
}

.social-media:hover {
  opacity: 0.5;
  transition: 0.3s;
}

.projects:hover {
  opacity: 0.6;
  transition: 0.3s;
  -webkit-tap-highlight-color: #e897c3;
}

.projects {
  border-radius: 15px;
}

.three-column-left {
  background-color: white;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  box-shadow: 0 0 1pt 0.5pt #d5d1d1;
  float: left;
  padding-bottom: 3%;
  width: 30%;
}

.three-column-middle {
  background-color: white;
  box-shadow: 0 0 1pt 0.5pt #d5d1d1;
  float: left;
  padding-bottom: 3%;
  width: 30%;
}

.three-column-right {
  background-color: white;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 0 0 1pt 0.5pt #d5d1d1;
  float: left;
  padding-bottom: 3%;
  width: 30%;
}

.overview-container {
  padding-left: 9%;
  margin-top: -350px;
  overflow: auto;
  padding-bottom: 5%;
}

.pink-row {
  background-color: #e897c3;
  margin-top: 5%;
  padding-bottom: 3%;
}

.pink-row:after {
  clear: both;
  content: "";
  display: table;
}

/* Banner code */
/* Style the header with a grey background and some padding */
.header {
  background-color: #f1f1f1;
  background-image: url(https://wallpaperaccess.com/full/1425559.jpg);
  background-size: cover;
  overflow: hidden;
  padding: 20px 10px;
}

/* Style the header links */
.header a {
  border-radius: 4px;
  color: black;
  float: left;
  font-size: 18px;
  line-height: 25px;
  padding: 12px;
  text-align: center;
  text-decoration: none;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: white;
  color: black;
}

/* Style the active/current link*/
.header a.active {
  background-color: white;
  color: black;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    display: block;
    float: none;
    text-align: left;
  }
  .header-right {
    float: none;
  }
  .three-column-uniform {
    width: 100%;
  }
}

/* Banner code */

/* Hover animation code */
.container {
  position: relative;
}

.image {
  backface-visibility: hidden;
  display: block;
  opacity: 1;
  transition: 0.5s ease;
}

.middle {
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #e897c3;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

/* Hover animation code */

/** Courtesy of https://matthewjamestaylor.com/blog/equal-height-columns-2-column.htm*/
#container2 {
  clear: left;
  float: left;
  overflow: hidden;
  width: 100%;
}
#container1 {
  align-items: center;
  display: flex;
  float: left;
  position: relative;
  right: 55%;
  width: 100%;
}
#col1 {
  float: left;
  left: 52%;
  margin-top: 7%;
  overflow: hidden;
  position: relative;
  width: 46%;
}
#col2 {
  float: left;
  left: 56%;
  margin-top: 7%;
  overflow: hidden;
  position: relative;
  width: 46%;
}

.vertical-center {
  position: relative;
  top: 50%;
  /* transform: translateY(-50%); */
  width: 50%;
}

* {
  box-sizing: border-box;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap; /* IE10 */
  padding-left: 5%;
  padding-right: 5%;
}

.row::after {
  clear: both;
  content: "";
  display: table;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 33%;
  max-width: 33%;
  -ms-flex: 33%; /* IE10 */
  padding-left: 2%;
  padding-right: 2%;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .column {
    flex: 100%;
    max-width: 100%;
    -ms-flex: 100%;
  }
}

.row-responsive::after {
  clear: both;
  content: "";
  display: table;
}
.row-responsive {
  margin: 5%;
}

/* Create two equal columns that floats next to each other */
.column-responsive {
  float: left;
  height: 500px;
  width: 50%;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .column-responsive {
    width: 100%;
  }
}
